<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href=@{/styles.css}>
    <title>sign up</title>
</head>
<body>
	<div><p th:text="${msg}"></p></div>
    <div>
        <form th:action="@{/sign_up}" th:object="${user}" method="POST">
            <div class="row">
                <div class="row-15">
                    <label for="username">Username</label>
                </div>
                <div class="row-85">
                    <input type="text" name="username" th:value="${user.username}">
                </div>
            </div>
            <div class="row">
                <div class="row-15">
                    <label for="password">Password</label>
                </div>
                <div class="row-85">
                    <input type="password" name="password" th:value="${user.password}">
                </div>
            </div>
            <div>
                <input type="submit" value="Sign Up">
            </div>
        </form>
    </div>
</body>
</html>